/*
*= require_tree .
*= require_self
*/

// Vendor
// @import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Fonts
// Global
body {
  // padding-top: 70px;
  font-size: 1.1em;
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
// Bootstrap adjustments
form.button_to {
  display: inline;
}

.hero {
  height: 80vh;
  background-image: image-url("fms_logo.png");
  background-color: white;
  background-blend-mode: darken;
  background-size: cover;
  background-position-x: center;
  background-position-y: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &.small {
    height: 50vh;

    nav {
      display: none;
    }
    .title {
      display: none;
    }
  }
}

.hero nav {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.hero .title {
  margin: auto 0;
  font-family: "Montserrat";
  color: white;
  text-transform: uppercase;
  width: max-content;

  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
    font-weight: 700;
  
  }
  h1 {
    line-height: 0.7;
    font-weight: 900;
    font-size: 6.5em;
    font-style: italic;
    
    
  }
  h2 {
    margin-top: 0.7em;
    font-size: 2.2em;
  }
  h3 {
    font-style: italic;
    text-align: right;
    font-size: 1.4em;
  }
}

.sticky-nav {
  background: rgb(57, 141, 192);
  position: sticky;
  top: 0;
  z-index: 900;
  font-weight: 400;

  .navbar-brand {
    font-weight: 500;
    font-family: "Arial";
    text-transform: uppercase;
  
  }
}

.page-header {
  margin: 3em 0;
  h1 {
  color: rgb(57, 141, 192);
  }
}
.text-danger {
  color: #f38792 !important;
}

.text-muted{
text-decoration: none;
font-size: medium;
}

.login_signup{
  margin-left: 10%;
}
.shelter_housing{
  color:  rgb(98, 98, 98);
  margin-bottom: 0.7em;
}

@media screen and (max-width: 1000px) {
  .hero {
    height: 30vh;
    background-image: image-url("fms_logo.png");
    background-color: white;
    background-blend-mode: darken;
    background-size: cover;
    background-position-x: center;
    background-position-y: 0%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &.small {
      height: 30vh;
  
      nav {
        display: none;
      }
      .title {
        display: none;
      }
    }
  }
  .login_signup{
    margin-left: 4%;
  }

}
#marker-content{
  padding-bottom: 1em;
  padding-right: 1em;
  a {
    color:  rgb(57, 141, 192);
    text-decoration: none;
    font-weight: 500;
   
    
   
  }
}