// Place all the styles related to the shelters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
main section.shelters-index,
main section.categories-show {
  .shelters {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
    grid-template-rows: min-content;

    @media screen and (max-width: 1500px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
    article {
      
      a {
        text-decoration: none;
      }
      font-family: "Montserrat";
      width: 100%;
      position: relative;
      // text-align: center;
      border-radius: 0.25em;
      border: 0.1em solid rgb(57, 141, 192);
      box-shadow: rgba(0, 130, 29, 0.16) 0px 3px 6px, rgb(57, 141, 192) 0px 3px 6px;
      // transition: opacity 300ms linear;

      &:hover {
        transition: all 150ms linear;
        background-color: rgb(57, 141, 192);
        color: white;
        }

        button {
          background: white;
          color: rgb(57, 141, 192)
        }
      }
      img {
        width: 100%;
        height: auto;
        border: none;
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
        
      }
      h1 {
        margin: 0;
        padding: 0.25em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(57, 141, 192);
        font-weight: 700;
        font-family: "Montserrat";
        span {
          font-size: 1.0em;
        }
        span:last-of-type {
          font-size: 0.5em;
        }
        &:hover {
          transition: all 150ms linear;
          background-color: rgb(57, 141, 192);
          color: white;
          }
      }
      div {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        form {
          display: inline-block;
          margin-left: auto;
        }
        button {
          min-width: 110px;
          padding-left: 1em;
          padding-right: 1em;
          background-color: rgb(57, 141, 192);
          color: white;
        }
      }
      .address {
        margin: 0;
        padding: 0.2em 0.7em ;
        color:rgb(120, 120, 120);
        font-weight: light;
        font-family: "Montserrat";
        font-size: 0.7em;
        text-align: left;
        &:hover {
            color: white;
          }
      }
    }
  }

