<article>
  <%= link_to category_path(category) do %>
    <%= image_tag shelters.image.thumb.url , alt: shelters.name %>
  
    <h1>
      <span><%= category.name %></span>
    </h1>
  <% end%>

</article>
